env:
  workflow-env: hello_workflow
  GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
name: my-workflow-name
on: push
jobs:
  dummy-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "firstvar=hello" >> $GITHUB_OUTPUT
        id: job1-step1-output

      - run: echo "secondvar=world" >> $GITHUB_OUTPUT
        id: job1-step2-output
      
    outputs:
      output-test-1: ${{steps.job1-step1-output.outputs.firstvar}}
      output-test-2: ${{steps.job1-step2-output.outputs.secondvar}}

  my-job:
    runs-on: ubuntu-latest
    cancel-timeout-minutes: 20
    defaults:
      run:
        shell: bash
        working-directory: /
    environment: 
      name: gh action test environemnt
      url: http://example.com
    concurrency: 
      group: my-group
      cancel-in-progress: true
    continue-on-error: true
    env:
      job-env: hello_job
    name: my-job-name
    needs: [dummy-job]
    strategy:
      matrix:
        fake-matrix: [1,2]

    steps:
      - name: what are my env variables
        run: env
        
      - name: showcase workflow var and job var
        run: echo "job env; $job-env   workflow env; $workflow-env"

      - name: what is my path currently?
        run: pwd && echo "new commit test"

      - name: list output values
        run: echo "${{needs.dummy-job.outputs.output-test-1}}"

      - name: list second output value
        run: echo "${{needs.dummy-job.outputs.output-test-2}}"

      - name: list matrix
        run: echo "${{matrix.fake-matrix}}"
