env:
  MYVAR: crew7
  GH_TOKEN: ${{secrets.MY_TEST_SECRET}}
on: push
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "My name is $MYVAR"

      - name: named run
        run: echo "what u sayin abt $MYVAR???"

      - shell: bash
        run: echo ""